
.main{
    width: 100%;
    height: 130px;
    background-color: red;
    overflow: hidden;
}
.items {
position: absolute;
  top: 100px;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
  background-color: bisque;
}
.items li {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
  list-style: none;
  width: 200px;
  height: 120px;
  background-color: black;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  background-image: url("http://lewihussey.com/codepen-img/orangeisthenewblack.jpg");
}
.items li .bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}
.items li:hover {
  transition-delay: 0.5s;
  width: 400px;
  height: 250px;
}
.items li:hover a .content {
  transform: translateY(0) translateX(-50%);
  transition-delay: 0.75s;
  opacity: 1;
}
.items li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
}
.items li a .content {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  transition-duration: 1s;
  opacity: 0;
  padding: 40px 10px 10px 10px;
  width: 400px;
}
.items li a .content h2 {
  font-weight: 300;
  color: white;
  font-size: 30px;
}

