.container {
    display: grid;
    grid-auto-flow: column;
    padding-left: 450px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: #e6e7ea; 
    /* background-image: linear-gradient(90deg,#74ebd5,0%,#9face6);  */

}
/* height: 152px; */
/*height :455px ; */
.box {
    width: 300px;
    height: 152px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    transition:height 0.8s;
    z-index: 0;
}
.banner{
    position: relative;
    height: 154px;
    margin-bottom: 10px;
}
.heading{
    position: absolute;
    font-size: 15px;
    color:#fff;
    top:60px;
    left: 0;
}
.imageHeading{
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}
.shadow {
    position: absolute;
    height: 152px;
    width: 300px;
    top: 0;
    background-color:rgba(0,0,0,0.5);
    border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.content > * {
    width: 125px;
    height: 50px;
    margin-bottom: 25px;
}
.gender {
    margin-bottom: 25px;
    overflow-wrap: break-word;
}

.content>div{
    overflow-wrap: break-word;
}

.content>div>p{
   padding: 3px;
}
.container>.box>.banner>h4{
    margin-bottom: 20px;
}

.box>h4 {
    color :#444
}

.content>div>p{
    color: #555;
}

.box > button {
    width : 140px;
    height: 40px;
    background-color: #333;
    color :#fff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
}

.box button:hover {
    letter-spacing: 2px;
    opacity: 0.8;
}

.box::before{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.box::after {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #FBDA61;
   background-image: linear-gradient(45deg,#FBDA61 0%,#FF5ACD 100%);
   content: "";
   top :0;
   left :0;
   z-index: -2;
   clip-path: circle(0% at 0% 0%);
   transition: 0.2s;
}
.box:hover{
    height: 455px;  
}
/* .box .count {
     position:absolute;
     top:35px;
     right:7px;
     font-size: 11px;
     font-weight: bolder;
     color: #fff;
} */

.box:nth-child(2):after{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#0093e9 0%,#60b37f 100%);
}

.box:nth-child(3):after{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg,#cda783 0%,#e5f71b 100%);
}

.box:nth-child(2):after{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#e9001b 0%,#ffe93f 100%);
}

.box:nth-child(4):after{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#750cad 0%,#0cc3f1 100%);
}

.box:nth-child(5):after{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#fd51c7 0%,#aff8b6 100%);
}

.box:hover::after {
    clip-path: circle(100%);
}
.box:hover h3 {
    color: #fff;
}
.box:hover p {
    color: #fff;
}



