.mainCon{
    width: 100%;
    height: 288px;
    padding: 10px 60px 10px 60px;
    background-color: #f3f4f7;
}
.innerCon {
  max-width: 956px;  
  height: 262px;
  padding: 15px;
  display: flex;

  flex-wrap: wrap;
}
.filterCon{
    max-width: 634px;
    height: 252px;
    padding: 10px;
    display: flex;
}

.stateCon{
    width: 502px;
}



.fiterTitle{
   width: 611px;
   height: 232px;
   padding: 3px;
   text-align: center;
   display: flex;
   flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.fiterTitle>div{
    height: 39px;
    width: 606px;
    display: flex;
    padding: 10px;
    align-items: center;
    border-left: 3px solid #d5d7dd;
}
.fiterTitle>div>p{
    font-weight: 300;
    width:79px
}



 .fiterTitle>div>div{
    max-width: 553px;
    height: 39px; 
 }

 .common{
    display: flex;
    text-align: center;
    align-items: center;
} 

.fiterTitle>div>div>label{
    background-color: #fff;
    margin-right: 3px;
    outline: none;
    border: none;
    height: 39px;
    font-weight:300;
    padding-top: 9px;
}

.ageCon>label{
    width: 123px;
}

.gender>label {
    width: 164px;
}

.cast>label{
    width: 123px;
}

.income>label{
    width: 98px;
}

.common>label:hover{
    background-color: #ee4c2c;
    color: white;
    letter-spacing: 2px;
}

.common>input{
    display: none;
  }
  
  .common>input:checked+label{
  background-color: #ee4c2c;
  color: #fff;
  }


/* Filter result section */
.fiterResult{
    width: 30%;
    height: 232px;
    border: 1px solid black;
 }

/* media query */
 @media (max-width:1079px){
    .mainCon{
        padding: 10px 10px 10px 10px;
    }
 }

 @media (max-width:652px){
    .innerCon{
        max-width: 634px;
    }
    .fiterResult{
        width: 597px;
        margin-top: 10px;
        height: 152px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .innerCon{
        height: 419px;
        padding: 10px 0px 10px 0px;
    }
    .mainCon{
        height: 438px;
        padding: 10px 0px 10px 0px;
    }
 }
 @media  (max-width:938px){
    .innerCon{
        max-width: 634px;
    }
    .fiterResult{
        width: 597px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        height: 152px;
    }
    .innerCon{
        height: 419px;
        padding: 10px 0px 10px 0px;
    }
    .mainCon{
        height: 438px;
        padding: 10px 0px 10px 0px;
    }
 }

 @media (max-width:480px){
    .fiterTitle>div{
        /* flex-direction: column;   */
        flex-wrap: wrap;
        display: block ;
        width: 100%;
        height: 67px;
        padding: 3px;
    }
    .fiterTitle{
        width: 100%;
        justify-content: unset;
    }
     .mainCon{
     height: 540px;
     padding: 5px;
    }
    .innerCon{
        height: 530px;
        padding: 0px;

    }
    .fiterTitle{
    height: 300px;
    padding: 0px;
    }
    .fiterTitle>div>div>label{
        height: 27px;
        padding-top: 5px;
        font-size: 14px;
    }
    .stateCon{
        width: 100%;
    }
    .fiterTitle>div>p{
        background-color: #ee4c2c;
        width: 100%;
        margin-bottom: 2px;
        color: #fff;
    }
  
    .fiterResult{
        width: 597px;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        height: 145px;
    }
 }

 