@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins',sans-serif;
  text-transform: capitalize;
  /* transition: all 0.3 linear; */
}

html,
body {
  max-width: 100vw;
  
}
.r{
  color: red;
}
.y{
  color: rgb(252, 160, 11);
}
.g{
  color: rgb(9, 183, 41);
}
.b{
  color: rgb(93, 138, 251);
}
.w
{
  color:rgb(9, 9, 9);
}
.name{
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 0px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
/* Animated Hamburger*/

/*Animation Finish*/

.nav__menu-list{
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  column-gap: 24px;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #eee;
}
.nav__menu-list.active{
  right: 0;
}
.search{
  float: right;
  padding-left: 20%;
  white-space: nowrap;

}
.search input {
  padding: 6px;
  margin-top: px;
  font-size: 17px;
  border:solid 1px;
}
.search button i{
  padding: 4px;
  margin: 0px;
  margin-right: 0px;
  background: #ddd;
  font-size: 24px;
  border: solid 1px;
  cursor: pointer;
  top: 27%;
  position: absolute;
  bottom: 25%;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}
.nav__link::before{
  content: "";
  position: absolute;
  width: 100%;
  bottom: -16px;
  left: 0%;
  height: 6px;
  transition: all 0.2s;
  background-color: black;
  font-weight: bold;
  background-color: transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
 }
.nav__link:hover{
 font-weight: bold;
 background-color: #ddd;
 border-radius: 5px;
 border-width: 10px;
 border: 10vh;
}
.nav__link:hover::before{
  width: 100%;
  font-weight: bold;
 }

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 968px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__menu-list:hover{
    background-color: rgb(254, 253, 252);
  }
  .nav__link:hover{
    background-color: rgb(209, 207, 205);
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: rgb(28, 26, 26);
    transition: all 0.2s;
  }

  .nav__link:hover:before
 {
   width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .search {
    float: left;
    padding-left: 5%;
  }
  .topnav a, .search input[type=text] {
    /* float: none;
    display: block; */
    text-align: left;
    width: 20%;
    margin: 0;
    padding: 10px;
  }
  .search input {
   display: none;
  }
  
  .search button{
  margin-bottom: 20px;
  padding-bottom: 25px;

  }
}